# =========================
# Visual Studio / .NET
# =========================
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates
*.csproj.user
*.DotSettings.user

# Build
bin/
obj/
out/

# NuGet
*.nupkg
*.snupkg
packages/
.nuget/
project.lock.json
project.fragment.lock.json
artifacts/

# Rider / JetBrains
.idea/
*.iml

# =========================
# ASP.NET Core
# =========================
wwwroot/
appsettings.*.json
appsettings.Development.json

# =========================
# Docker
# =========================
docker-compose.override.yml
*.dockerfile
*.env
**/docker-compose.override.yml
**/*.env
**/Dockerfile

# =========================
# OS generated
# =========================
.DS_Store
Thumbs.db

# =========================
# Logs
# =========================
*.log
logs/
